@import 'variables';
@import 'box-sizing';
@import 'new-run';
@import 'run-detail';

* {
  font-family: Roboto;
}

body {
  background: #282828;
  max-width: 1080px;

  margin: 0 auto;
}

.application {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.app-container {
  flex-grow: 1;
}

.top-nav {
  display: flex;
  background:$header-bar-blue;
  color: $title-white;
  font-size: $base-font-size;
}

#title {
  margin-left: 1rem;
}

// .app-container {
//   margin: 0 auto;
// }

.listOfRuns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  color: $regular-text;
  margin-left: 1rem;
  margin-right: 1rem;
}

.listOfRuns__date {
  color: $regular-text;
}

.listOfRuns__timer {
  color: $green-text;
}

.add-button {
  float: right;
  margin: 1.5rem;
  background: $button-green;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
}
