@import 'variables';

.new__title {
  color: $title-white;
  margin-left: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: -1rem;
}

.form-input__boxes {
  border: none;
  border-bottom: 1px solid $placeholder-text;
  padding-bottom: $base-line-height;
  margin-bottom: 1rem;
  color: $placeholder-text;
  max-width: 20rem;
  background: none;
}

.form-input__header {
  color: $regular-text;
  margin-bottom: -0.2rem;
}

.form__buttons {
  justify-content: space-between;
  margin: 0 auto;
}

.form-button__cancel {
  background: $button-grey;
  text-decoration-color: $button-text-grey;
  margin-left: 1.3rem;

}

.form-button__submit {
  background: $button-green;
  text-decoration-color: $button-text-grey;
  margin-left: 13.5rem;
}
