{{#each model as |app|}}

  <div class="app-container">
    <div class="listOfRuns">
      <p class="listOfRuns__date">
        {{app}}
      </p>
      <p class="listOfRuns__timer">
      </p>
    </div>

  </div>
{{/each}}
<p class="links">
  {{#link-to "new-run"}}
    <button class="add-button" type="button" name="add">+</button>
  {{/link-to}}
</p>
