<h1 class="run-detail__title">My Run</h1>

<div class="run-detail__data">
  <p class="run-detail__date">{{model.date}}</p>
  <p class="run-detail__time">{{model.time}}</p>
</div>

<p class="run-detail__notes">{{model.notes}}</p>
