<h2 class="new__title">New Run</h2>
<form action addNewRun on="submit">
  <ul class="form-inputs">
    <li class="form-input__boxes">Run Time</li>
    <li class="form-input__boxes">Race Date</li>
    <li class="form-input__boxes">Race Notes</li>
  </ul>
  <div class="form__buttons">
    <button class="form-button__cancel" type="button" name="Cancel">Cancel</button>
    <button class="form-button__submit">Submit</button>
  </div>
</form>
