<div class="top-nav">
  <h3 id="title">Run Timer</h3>
</div>
<div class="app-container">
<div class="log">
  <p class="log__date">
    Dec 1, 2015
  </p>
  <p class="log__timer">
    00:23:15
  </p>
</div>

  <button class="add-button">+</button>
</div>



{{outlet}}
